# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
public/*.parquet
public/*.json
*.ipynb
public/counties_data/
public/metros_data/
public/places_data/
public/states_data/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# python
__pycache__
.ipynb_checkpoints
*.ipynb
.dmypy.json

python/IPUMS_KEY
