repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
#  - repo: https://github.com/pre-commit/mirrors-prettier
#    rev: v2.2.0
#    hooks:
#      - id: prettier
  - repo: https://github.com/standard/standard
    rev: b9abb8453168d8b9d95ff21de7d19af5ed881eaf
    hooks:
      - id: standard
