[tool.poetry]
name = "housing-data"
version = "0.1.0"
description = ""
authors = ["Sidharth Kapur <sidharthkapur1@gmail.com>"]

[tool.poetry.dependencies]
# Python 3.9 on vercel because CentOS/yum doesn't have Python 3.10.
# But locally I'm using 3.10 because pandas only released a universal2 (Apple Silicon-compatible)
# wheel for Python 3.10 (and also only for 1.3.5).
python = ">=3.9,<3.11"
pandas = "^1.3.5"
requests = "^2.25.0"
typing-extensions = "^3.7.4"
pyarrow = "^6.0.0"
tqdm = "^4.54.0"
us = "^2.0.2"
xlrd = "^1.2.0"
openpyxl = "^3.0.9"
fiona = {git = "https://github.com/Toblerity/Fiona.git"}
geopandas = "^0.10.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
jupyterlab = "^3.2.5"
networkx = "^2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
build_data = "housing_data.build_data:main"
